@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  src: url('../fonts/roboto/Roboto-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

html {
  height: 100%;
  background-color: #FFF;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  color: #222222;
  text-align: left;
  background-color: #FFF;
}

#root {
  display: table;
  width: 100%;
  height: 100%;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.separator {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #666666;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}

.upload-modal-title {
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.upload-modal-button {
  align-items: center;
  text-align: center;
}