a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0 3px;
  padding: 9px 11px;
  vertical-align: bottom;
  
  i {
      font-size: 15px;
      margin-right: 5px;
  }
  
  span {
     // font-size: 14px;
  }
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}


.pure-button:hover {
    text-decoration: none !important;
}

