// - - - - - - - - IMPORT - - - - - - - - - //

@import "footer.scss";
@import "links.scss";
@import "responsive.scss";
@import "fonts.scss";
@import "mixins.scss";

// - - - - - - - - - - - - - - - - - - - - -//

body {
  background-color: rgb(251,251,251);
  font-family: robotoThinFont;
}

#login-box {
    width: 250px;
    padding: 30px 40px;
    margin: 5% auto;
    font-size: 12px;
    text-align: center;
    background: #fff; 

    
    #logo {
        width: 150px;
        height: auto;
        margin: 10px 0 20px 0;
        background: #fff;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        text-align: center;
    }
    
    input[type=text], input[type=password] {
        padding: 5px;
        margin: 3px 0;
    }
    
    .error {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #000;
        background-color: #f2dede;
        border-color: #fff;
        text-align: center;
        top: 50%;
        left: 50%;
    }

    .msg {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #000;
        background-color: #e3f5cf;
        border-color: #fff;
        text-align: center;
    }
} 
