// - - - - - - - - IMPORT - - - - - - - - - //

@import "links";
@import "responsive";
@import "fonts";

// - - - - - - - - - - - - - - - - - - - - -//

.main-header {
  background: #1696cc;
  color: #fff;
  border: 0px solid #1696cc;
  top: 0px;
  font-size: 13px;
  z-index: 1;
  height: 60px;
  min-width: 100%;
  position: absolute;

  .navbar-toggle {
    border: none;
    background: transparent !important;
    margin-top: 11px;

    &:hover {
      background: transparent !important;
    }

    .icon-bar {
      width: 22px;
      transition: all 0.2s;
      background-color: #fff;
    }
    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .middle-bar {
      opacity: 0;
    }
    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
  }

  .navbar-toggle.collapsed {
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }

  .navbar-default {
    background-color: inherit;
    border-color: inherit;
    color: inherit;
    margin-bottom: 0px;

    .navbar-form {
      color: #000;
    }

    .container-fluid {

      .navbar-collapse {
        border: 0px solid #3E444D;
      }

      .navbar-header {
        color: inherit;

        .navbar-brand {
          img {
            display: initial;
          }
        }

        a {
          color: #fff;
        }
      }

      .navbar-nav {
        li {
          a {
            color: #fff;
          }
        }
      }
    }
  }

  .logo {
    float: left;
    margin-top: 2px;
    font-size: 30px;
    a {
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
  }

  #header-logo {
    height: 30px;
    margin-top: -10px;
  }

  .links {
    float: right;
    a {
      text-decoration: none;
      color: #fff;
      i {
        margin: 0 0px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

    .fa-2x {
      font-size: 28px;

    }

    i {
      &:hover {
        color: #ddd;
      }
    }

    .title {
      visibility: hidden;
      display: none;
    }
  }

  .avatar-username {
    float:left;
  }

  .avatar-circle {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-top: 9px;
    margin-right: 10px;
    padding-top: 3px;
    padding-left: 3px;
    color: #fff;

    &:hover {
      background-color: #ddd;
      color: #ddd;
      cursor: pointer;
    }

    .avatar-inner-circle{
      text-align: center;
      width: 34px;
      height: 34px;
      background-color: #1b76b9;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;

      .fa-2x {
        font-size: 26px;
        position: relative;
        top: 11px;
        line-height: 20px;

        &:hover {
          color: #ddd;
          cursor: pointer;
        }
      }
    }
  }



  .stylish-input-group {
    width: 30%;
    top: 10px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;

    .input-group-addon{
      background: #3ca8d6 !important;
      border-color: #3ca8d6 !important;
      color: #FFFFFF;
      border-bottom-right-radius: 50px;
      border-top-right-radius: 50px;
      width: 50px;
      height: 35px;
      float: right;

      button{
        border:0;
        background:transparent;
        margin-top: 3px;
      }
    }

    .input-group-field {
      padding-right: 50px;

      .form-control{
        border-right:0;
        box-shadow:0 0 0;
        border-color:#ccc;
      }

      .search {
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        color: #FFFFFF;
        background: #3ca8d6 !important;
        border-color: #3ca8d6 !important;
        height: 35px;
      }

      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
      }

      ::-webkit-input-placeholder {
        text-align: center;
      }

      :-moz-placeholder { /* Firefox 18- */
        text-align: center;
      }

      ::-moz-placeholder {  /* Firefox 19+ */
        text-align: center;
      }

      :-ms-input-placeholder {
        text-align: center;
        color: white;
      }
    }


  }



  .header-menu-collapse {
    visibility: hidden;
    clear: both;
    float: left;
    display: none;

    .header-menu-collapse-row {
      margin-top: 10px;
    }

    &:hover {
      color: #ddd;
    }

    .header-menu-icon {
      float: left;
      width: 50px;
      display: inline-block;
      overflow: hidden;

      .fa-2x {
        font-size: 24px;
      }
    }

    .header-menu-title {
      display: inline-block;
      font-size: 18px;
    }

    @media screen and (max-width: 850px) {
      visibility: visible;
      clear: none;
      float: left;
      display: inline;
    }
  }

  .header-menu-full-row {
    @media screen and (max-width: 850px) {
      visibility: hidden;
      clear: both;
      float: left;
      display: none;
    }
  }

}