@media screen and (max-width: 850px) {
    .container {
        width: 100%;
        left: 0;

        section {
            width: 100%;
        }
    }

    .navigation {
        left: 0;
    }

    .stylish-input-group {
        visibility: hidden;
        clear: both;
        float: left;
        display: none;
    }

    .sideMenu {
        visibility: hidden;
        clear: both;
        float: left;
        display: none;
    }

    .header-nav {
        visibility: hidden;
        clear: both;
        float: left;
        display: none;
    }

    .main-header {

        .meta {

            .search {
                visibility: hidden;
                clear: both;
                float: left;
                display: none;
            }
        }

        .links {
            float: left;
            .title {
                visibility: visible;
                display: initial;
            }
        }
    }
}

@media screen and (max-width: 570px) {


    footer {
        .page-created {
            visibility: hidden;
            clear: both;
            float: left;
            display: none;
        }
    }
}
