@font-face {
    font-family: robotoThinFont;
    src: url('../font/Roboto-Thin.ttf');
}

@font-face {
    font-family: robotoMediumFont;
    src: url('../font/Roboto-Medium.ttf');
}

@font-face {
    font-family: robotoRegularFont;
    src: url('../font/Roboto-Regular.ttf');
}

@font-face {
    font-family: robotoBoldFont;
    src: url('../font/Roboto-Bold.ttf');
}

@font-face {
    font-family: robotoItalicFont;
    src: url('../font/Roboto-ThinItalic.ttf');
}
