@font-face {
    font-family: robotoThinFont;
    src: local("Roboto Thin"), local("Roboto-Thin"), url('../font/Roboto-Thin.ttf');
}

@font-face {
    font-family: robotoMediumFont;
    src: local("Roboto Medium"), local("Roboto-Medium"), url('../font/Roboto-Medium.ttf');
}

@font-face {
    font-family: robotoRegularFont;
    src: local("Roboto Regular"), local("Roboto-Regular"), url('../font/Roboto-Regular.ttf');
}

@font-face {
    font-family: robotoBoldFont;
    src: local("Roboto Bold"), local("Roboto-Bold"), url('../font/Roboto-Bold.ttf');
}

@font-face {
    font-family: robotoItalicFont;
    src: local("Roboto ThinItalic"), local("Roboto-ThinItalic"), url('../font/Roboto-ThinItalic.ttf');
}
