a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn-success {
  background: #1cb841;
  /* this is a green */ }

.btn-success,
.btn-info,
.btn-warning,
.btn-primary,
.btn-danger {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0 3px;
  padding: 9px 11px;
  vertical-align: bottom; }
  .btn-success i,
  .btn-info i,
  .btn-warning i,
  .btn-primary i,
  .btn-danger i {
    margin-right: 5px; }

.btn-success {
  background: #1cb841;
  /* this is a green */ }

.btn-danger {
  background: #ca3c3c;
  /* this is a maroon */ }

.btn-warning {
  background: #df7514;
  /* this is an orange */ }

.btn-primary {
  background: #42b8dd;
  /* this is a light blue */ }

.btn {
  font-size: 12px;
  font-weight: normal;
  text-decoration: none !important;
  border: 0px; }

.btn:hover {
  text-decoration: none !important; }

@media screen and (max-width: 1000px) {
  .container {
    width: 100%; }
    .container section {
      width: 100%; }

  .main-header {
    border-bottom: 0px solid #f0f0f0; }

  aside {
    visibility: hidden;
    clear: both;
    float: left;
    display: none; } }
@media screen and (max-width: 760px) {
  .main-header .meta .search {
    visibility: hidden;
    clear: both;
    float: left;
    display: none; } }
@media screen and (max-width: 550px) {
  .main-header {
    min-height: 65px;
    border-bottom: none;
    padding-bottom: 12px; }
    .main-header .logo {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      .main-header .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto; }
    .main-header .meta {
      width: 100%;
      float: left; }
      .main-header .meta .links {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center; }

  .header-nav {
    visibility: hidden;
    clear: both;
    float: left;
    display: none; } }
@font-face {
  font-family: robotoThinFont;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../font/roboto/Roboto-Thin.ttf"); }
@font-face {
  font-family: robotoMediumFont;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../font/roboto/Roboto-Medium.ttf"); }
@font-face {
  font-family: robotoRegularFont;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../font/roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: robotoBoldFont;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../font/roboto/Roboto-Bold.ttf"); }
@font-face {
  font-family: robotoItalicFont;
  src: local("Roboto ThinItalic"), local("Roboto-ThinItalic"), url("../font/roboto/Roboto-ThinItalic.ttf"); }
.main-header {
  width: 100%;
  min-height: 41px;
  background: #3E444D;
  color: #fff;
  border: 0px solid #000;
  top: 0px;
  font-size: 13px;
  position: fixed;
  z-index: 1; }
  .main-header a {
    color: #fff; }
  .main-header .logo {
    float: left;
    margin-top: 5px;
    margin-left: 5%;
    font-size: 30px; }
    .main-header .logo a:hover {
      color: #fff;
      text-decoration: none; }
  .main-header #header-logo {
    height: 27px; }
  .main-header .meta {
    float: right;
    margin-top: 10px;
    margin-right: 5%; }
    .main-header .meta .search {
      float: left; }
      .main-header .meta .search form {
        float: left; }
      .main-header .meta .search input[type=text] {
        width: 200px;
        padding: 5px;
        outline: none;
        border: 2px solid #9EA1A6;
        background-color: #9EA1A6;
        font-size: 12px;
        border-radius: 5px;
        float: left;
        position: relative;
        top: -4px;
        color: #fff; }
        .main-header .meta .search input[type=text]::-webkit-input-placeholder {
          color: #fff; }
    .main-header .meta .links {
      float: right; }
      .main-header .meta .links a {
        text-decoration: none; }
        .main-header .meta .links a i {
          margin: 0 10px; }
      .main-header .meta .links .fa-2x {
        font-size: 1.6em; }
      .main-header .meta .links i:hover {
        color: #ddd; }
