// - - - - - - - - IMPORT - - - - - - - - - //

@import "links";
@import "responsive";
@import "fonts";

// - - - - - - - - - - - - - - - - - - - - -//

.main-header {
  background: #1696cc;
  color: #fff;
  border: 0px solid #1696cc;
  top: 0px;
  font-size: 13px;
  z-index: 1;
  height: 60px;
  min-width: 100%;
  position: absolute;

  .navbar-toggle {
    border: none;
    background: transparent !important;
    margin-top: 11px;

    &:hover {
      background: transparent !important;
    }

    .icon-bar {
      width: 22px;
      transition: all 0.2s;
      background-color: #fff;
    }
    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .middle-bar {
      opacity: 0;
    }
    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
  }

  .navbar-toggle.collapsed {
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }

  .navbar-default {
    background-color: inherit;
    border-color: inherit;
    color: inherit;
    margin-bottom: 0px;

    .navbar-form {
      color: #000;
    }

    .container-fluid {

      .navbar-collapse {
        border: 0px solid #3E444D;
      }

      .navbar-header {
        color: inherit;

        .navbar-brand {
          img {
            display: initial;
          }
        }

        a {
          color: #fff;
        }
      }

      .navbar-nav {
        li {
          a {
            color: #fff;
          }
        }
      }
    }
  }

  .logo {
    float: left;
    margin-top: 2px;
    font-size: 30px;
    a {
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
  }

  #header-logo {
    height: 30px;
    margin-top: -10px;
  }

  .links {
    float: right;
    a {
      text-decoration: none;
      color: #fff;
      i {
        margin: 0 0px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

    .fa-2x {
      font-size: 28px;

    }

    i {
      &:hover {
        color: #ddd;
      }
    }

    .title {
      visibility: hidden;
      display: none;
    }
  }

  .avatar-username {
    float:left;
  }

  .avatar-circle {
    width: 40px;
    height: 40px;
    background-color: #1b76b9;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-top: 9px;
    margin-right: 10px;

    .fa-2x {
      font-size: 24px;
      position: relative;
      top: 10px;
      line-height: 20px;
      color: #fff;

      &:hover {
        cursor: pointer;
      }
    }
  }


  .search {
    border-radius: 55px 50px;
    color: #FFFFFF;
    background: #3ca8d6 !important;
    border-color: #3ca8d6 !important;
    width: 80%;
    height: 35px;
  }

  .stylish-input-group {
    width: 30%;
    top: 10px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 1; /* Firefox */
    }

    ::-webkit-input-placeholder {
      text-align: center;
    }

    :-moz-placeholder { /* Firefox 18- */
      text-align: center;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      text-align: center;
    }

    :-ms-input-placeholder {
      text-align: center;
      color: white;
    }
  }

  .input-group-addon{
    background: #3ca8d6 !important;
    border-color: #3ca8d6 !important;
    color: #FFFFFF;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 20%;
    height: 35px;
    float: right;
  }
  .stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
  }
  .stylish-input-group button{
    border:0;
    background:transparent;
  }
}