// - - - - - - - - IMPORT - - - - - - - - - //

@import "links";
@import "responsive";
@import "fonts";

// - - - - - - - - - - - - - - - - - - - - -//

.main-header {
  width: 100%;
  min-height: 41px;
  background: #3E444D;
  color: #fff;
  border: 0px solid #3E444D;
  top: 0px;
  font-size: 13px;
  z-index: 1;

  .navbar-default {
    background-color: inherit;
    border-color: inherit;
    color: inherit;

    .container-fluid {


      .navbar-collapse {
        border: 0px solid #3E444D;
      }

      .navbar-header {
        color: inherit;

        .navbar-brand {
          img {
            display: initial;
          }
        }

        a {
          color: #fff;
        }
      }

      .navbar-nav {
        li {
          a {
            color: #fff;
          }
        }
      }
    }
  }


  .logo {
    float: left;
    margin-top: 2px;
    margin-left: 5%;
    font-size: 30px;
    a {
      color: #fff;
      &:hover {
        text-decoration: none;
    }
  }
}

  #header-logo {
    height: 27px;
    margin-bottom: 10px;
}

  .meta {
    float: right;
    margin-right: 5%;

    .search  {
      float: left;

      form {
        float: left;
    }

      input[type=text] {
        width: 200px;
        padding: 5px;
        outline: none;
        border: 2px solid #9EA1A6;
        background-color: #9EA1A6;
        font-size: 12px;
        border-radius: 5px;
        float: left;
        position: relative;
        top: -4px;
        color: #fff;

        &::-webkit-input-placeholder {
          color: #fff;
      }

    }
  }


}

  .links {
    float: right;
    margin-top: 0px;
    a {
      text-decoration: none;
      color: #fff;
      i {
        margin: 0 0px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

    .fa-2x {
      font-size: 1.6em;

    }

    i {
      &:hover {
        color: #ddd;
      }
    }

    .title {
      visibility: hidden;
      display: none;
    }
  }
}