a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.button-success {
  background: #1cb841;
  /* this is a green */ }

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.button-success {
  background: #1cb841;
  /* this is a green */ }

.button-error {
  background: #ca3c3c;
  /* this is a maroon */ }

.button-warning {
  background: #df7514;
  /* this is an orange */ }

.button-secondary {
  background: #42b8dd;
  /* this is a light blue */ }

.pure-button:hover {
  text-decoration: none !important; }
