a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.btn-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.btn-success,
.btn-info,
.btn-warning,
.btn-primary,
.btn-danger {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0 3px;
  padding: 9px 11px;
  vertical-align: bottom;
  
  i {
      margin-right: 5px;
  }
  
  span {
     // font-size: 14px;
  }
}

.btn-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.btn-danger {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.btn-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.btn-primary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.btn {
  font-size: 12px;
  font-weight: normal;
  text-decoration: none !important;
  border: 0px;
}
.btn:hover {
    text-decoration: none !important;
}

