// - - - - - - - - IMPORT - - - - - - - - - //

@import "footer";
@import "links";
@import "responsive";
@import "fonts";
@import "mixins";

// - - - - - - - - - - - - - - - - - - - - -//

body {
    background-color: rgb(251,251,251);
    font-family: robotoRegularFont;
    color: #666666;
}

#login-box {
    width: 250px;
    padding: 30px 40px;
    margin: 5% auto;
    font-size: 12px;
    text-align: center;
    background: #fff; 

    
    #logo {
        width: 150px;
        height: auto;
        margin: 10px 0 20px 0;
        background: #fff;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        text-align: center;
    }

    #logo-text {
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }
    
    input[type=text], input[type=password] {
        padding: 5px;
        margin: 3px 0;
        width: 100%;
    }
    
    .error {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #666666;
        background-color: #f2dede;
        border-color: #fff;
        text-align: center;
        top: 50%;
        left: 50%;
    }

    .msg {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #e3f5cf;
        border-color: #fff;
        text-align: center;
    }
} 
