@font-face {
  font-family: robotoThinFont;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../font/roboto/Roboto-Thin.ttf"); }
@font-face {
  font-family: robotoMediumFont;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../font/roboto/Roboto-Medium.ttf"); }
@font-face {
  font-family: robotoRegularFont;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../font/roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: robotoBoldFont;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../font/roboto/Roboto-Bold.ttf"); }
@font-face {
  font-family: robotoItalicFont;
  src: local("Roboto ThinItalic"), local("Roboto-ThinItalic"), url("../font/roboto/Roboto-ThinItalic.ttf"); }
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 12px;
  height: 30px;
  text-align: center;
  background-color: #f5f5f5; }
  footer .push {
    height: 4em; }
  footer .languages {
    position: absolute;
    text-align: center;
    padding-left: 20px;
    padding-top: 10px; }
  footer .page-created {
    text-align: right;
    padding-right: 30px;
    padding-top: 8px;
    font-size: 11px;
    color: #666666; }
  footer .rest-api {
    text-align: right;
    padding-right: 30px;
    padding-top: 8px;
    font-size: 11px; }
    footer .rest-api a {
      text-decoration: underline;
      font-size: 11px;
      color: #666666; }
  footer .info {
    text-align: right;
    padding-right: 20px;
    padding-top: 8px; }
    footer .info a {
      text-decoration: underline;
      font-size: 11px;
      color: #666666; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn-success {
  background: #1cb841;
  /* this is a green */ }

.btn-success,
.btn-info,
.btn-warning,
.btn-primary,
.btn-danger {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0 3px;
  padding: 9px 11px;
  vertical-align: bottom; }
  .btn-success i,
  .btn-info i,
  .btn-warning i,
  .btn-primary i,
  .btn-danger i {
    margin-right: 5px; }

.btn-success {
  background: #1cb841;
  /* this is a green */ }

.btn-danger {
  background: #ca3c3c;
  /* this is a maroon */ }

.btn-warning {
  background: #df7514;
  /* this is an orange */ }

.btn-primary {
  background: #42b8dd;
  /* this is a light blue */ }

.btn {
  font-size: 12px;
  font-weight: normal;
  text-decoration: none !important;
  border: 0px;
  margin-top: 5px; }

.btn:hover {
  text-decoration: none !important; }

@media screen and (max-width: 850px) {
  .container {
    width: 100%; }
    .container section {
      width: 100%; }

  .header-nav {
    visibility: hidden;
    clear: both;
    float: left;
    display: none; }

  .main-header .meta .search {
    visibility: hidden;
    clear: both;
    float: left;
    display: none; }
  .main-header .links {
    float: left; }
    .main-header .links .title {
      visibility: visible;
      display: initial; } }
@media screen and (max-width: 570px) {
  footer .page-created {
    visibility: hidden;
    clear: both;
    float: left;
    display: none; } }
@font-face {
  font-family: robotoThinFont;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../font/roboto/Roboto-Thin.ttf"); }
@font-face {
  font-family: robotoMediumFont;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../font/roboto/Roboto-Medium.ttf"); }
@font-face {
  font-family: robotoRegularFont;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../font/roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: robotoBoldFont;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../font/roboto/Roboto-Bold.ttf"); }
@font-face {
  font-family: robotoItalicFont;
  src: local("Roboto ThinItalic"), local("Roboto-ThinItalic"), url("../font/roboto/Roboto-ThinItalic.ttf"); }
body {
  background-color: #1696cc;
  font-family: robotoRegularFont;
  color: #FFFFFF; }
  body footer {
    background-color: #1696cc; }
    body footer .rest-api a {
      color: #FFFFFF; }
    body footer .info {
      text-align: right;
      padding-right: 20px;
      padding-top: 8px; }
      body footer .info a {
        text-decoration: underline;
        font-size: 11px;
        color: #FFFFFF; }

#login-box {
  width: 350px;
  padding: 30px 40px;
  margin: 5% auto;
  font-size: 12px;
  text-align: center;
  background-color: #1696cc; }
  #login-box #logo {
    width: 150px;
    height: auto;
    margin: 10px 0 20px 0;
    background-color: #1696cc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    text-align: center; }
  #login-box #logo-title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px; }
  #login-box #logo-meta-text {
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    font-family: robotoThinFont;
    font-weight: bold; }
  #login-box #login-remember-me {
    margin-top: 10px;
    float: left; }
  #login-box #login-button {
    margin-top: 10px;
    float: right; }
  #login-box .btn-success {
    background-color: #FFFFFF;
    color: #1696cc; }
    #login-box .btn-success:hover {
      background-color: #E9E9E9;
      color: #1696cc; }
  #login-box input[type=text], #login-box input[type=password] {
    padding: 5px;
    margin: 3px 0;
    width: 100%; }

#not-found-button {
  margin-top: 30px; }
