@font-face {
  font-family: robotoThinFont;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../font/Roboto-Thin.ttf"); }
@font-face {
  font-family: robotoMediumFont;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../font/Roboto-Medium.ttf"); }
@font-face {
  font-family: robotoRegularFont;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../font/Roboto-Regular.ttf"); }
@font-face {
  font-family: robotoBoldFont;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../font/Roboto-Bold.ttf"); }
@font-face {
  font-family: robotoItalicFont;
  src: local("Roboto ThinItalic"), local("Roboto-ThinItalic"), url("../font/Roboto-ThinItalic.ttf"); }
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 12px;
  height: 30px;
  text-align: center;
  background-color: #F0F0F0;
  border-top: 1px solid #8b8f86; }
  footer .push {
    height: 4em; }
  footer .languages {
    position: absolute;
    text-align: center;
    padding-left: 20px;
    padding-top: 10px; }
  footer .info {
    text-align: right;
    padding-right: 20px;
    padding-top: 10px; }
    footer .info a {
      text-decoration: underline;
      font-size: 11px;
      color: #666666; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.button-success {
  background: #1cb841;
  /* this is a green */ }

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0 3px;
  padding: 9px 11px;
  vertical-align: bottom; }
  .button-success i,
  .button-error i,
  .button-warning i,
  .button-secondary i {
    font-size: 15px;
    margin-right: 5px; }

.button-success {
  background: #1cb841;
  /* this is a green */ }

.button-error {
  background: #ca3c3c;
  /* this is a maroon */ }

.button-warning {
  background: #df7514;
  /* this is an orange */ }

.button-secondary {
  background: #42b8dd;
  /* this is a light blue */ }

.pure-button:hover {
  text-decoration: none !important; }

@media screen and (max-width: 1000px) {
  .container {
    width: 100%; }
    .container section {
      width: 100%; }

  .main-header {
    border-bottom: 0px solid #f0f0f0; }

  aside {
    visibility: hidden;
    clear: both;
    float: left;
    display: none; } }
@media screen and (max-width: 760px) {
  .main-header .meta .search {
    visibility: hidden;
    clear: both;
    float: left;
    display: none; } }
@media screen and (max-width: 550px) {
  .main-header {
    min-height: 65px;
    border-bottom: none;
    padding-bottom: 12px; }
    .main-header .logo {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      .main-header .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto; }
    .main-header .meta {
      width: 100%;
      float: left; }
      .main-header .meta .links {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center; }

  .header-nav {
    visibility: hidden;
    clear: both;
    float: left;
    display: none; } }
@font-face {
  font-family: robotoThinFont;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../font/Roboto-Thin.ttf"); }
@font-face {
  font-family: robotoMediumFont;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../font/Roboto-Medium.ttf"); }
@font-face {
  font-family: robotoRegularFont;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../font/Roboto-Regular.ttf"); }
@font-face {
  font-family: robotoBoldFont;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../font/Roboto-Bold.ttf"); }
@font-face {
  font-family: robotoItalicFont;
  src: local("Roboto ThinItalic"), local("Roboto-ThinItalic"), url("../font/Roboto-ThinItalic.ttf"); }
body {
  background-color: #fbfbfb;
  font-family: robotoRegularFont;
  color: #666666; }

#login-box {
  width: 250px;
  padding: 30px 40px;
  margin: 5% auto;
  font-size: 12px;
  text-align: center;
  background: #fff; }
  #login-box #logo {
    width: 150px;
    height: auto;
    margin: 10px 0 20px 0;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    text-align: center; }
  #login-box #logo-text {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px; }
  #login-box input[type=text], #login-box input[type=password] {
    padding: 5px;
    margin: 3px 0;
    width: 100%; }
  #login-box .error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #666666;
    background-color: #f2dede;
    border-color: #fff;
    text-align: center;
    top: 50%;
    left: 50%; }
  #login-box .msg {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #e3f5cf;
    border-color: #fff;
    text-align: center; }
