// - - - - - - - - IMPORT - - - - - - - - - //

@import "footer";
@import "links";
@import "responsive";
@import "fonts";
@import "mixins";

// - - - - - - - - - - - - - - - - - - - - -//

body {
    margin: 0px;
    font-family: robotoRegularFont;
    color: #666666;

    h1 {
        color: #4b4b4b;
    }
}
.main-header {
    width: 100%;
    min-height: 41px;
    background: #3E444D;
    color: #fff;
    border: 0px solid #000;
    top: 0px;
    font-size: 13px;
    position: fixed;
    z-index: 1;

    a {
        color: #fff;
    }

    .logo {
        float: left;
        margin-top: 5px;
        margin-left: 5%;
        font-size: 30px;
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }

    #header-logo {
        height: 27px;
    }
 
    .meta {
        float: right;
        margin-top: 10px;
        margin-right: 5%;

        .search  {
            float: left;

            form {
                float: left;
            }

            input[type=text] {
                width: 200px;
                padding: 5px;
                outline: none;
                border: 2px solid #9EA1A6;
                background-color: #9EA1A6;
                font-size: 12px;
                border-radius: 5px;
                float: left;
                position: relative;
                top: -4px;
                color: #fff;

                &::-webkit-input-placeholder {
                    color: #fff;
                }

            }
        }
        .links {
            float: right;
            a {
                text-decoration: none;

                i {
                    margin: 0 10px;
                }
            }

            .fa-2x {
                font-size: 1.6em;

            }

            i {
                &:hover {
                    color: #ddd;
                }
            }
        }

    }
}

.information {
    padding: 0px;
    .fa-1x {
        font-size: 1.5em;

    }
    &:hover {
        cursor: default;
    }
}

.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:10px;
}

.container {
    width: 85%;
    height: 75%;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 50px;
    absolute: relative;
}

.header-nav {
    font-size: 13px;
    text-decoration: none;
    color: #343434;
    position: fixed;
    width: 100%;
    background-color: #f0f0f0;
    height: 35px;
    z-index: 1;

    .content {
        width: 85%;
        margin: 0 auto;
    }
    
    ul {
        position: absolute;
        margin: 0;
        margin-top: 2px;
        padding: 0;
        
        li {
            list-style-type: none;
            display: inline;
        }
        
        a {
            padding: 9px 20px 10px 20px;
            color: #343434;
            text-decoration: none;
            font-size: 12px;
            
            &:hover {   
                color: #343434;
                background: rgba(255,255,255,.7);
            }
        }
        
        .fa-home {
            position: relative;
            top: 3px;
        }
    }
}

aside {
    position: relative;
    width: 14%;
    float: left;
    font-size: 14px;

    .content {

        .content-title {
            margin-top: 20px;
            font-size: 15px;
            font-weight: bold;
        }

        .content-divider {
            width: 150px;
            border-bottom: 1px solid #ddd !important;
        }

        .content-item {
            margin-left: 15px;
            margin-top: 5px;
            a {
                color: #666666;
            }
        }
    }
}

section{
    width: 100%;
    position: relative;
    font-size: 12px;
    min-height:100%;
    margin-bottom: 50px;
    float: right;

    .upload-information {
        width: 100%;
        border-bottom: 1px solid #ddd !important;
        padding-down: 10px;

        p {
            display: inline-block;
            width: 90%;
        }

        i {
            display: inline-block;
            width: 50px;
        }
    }

    .table-frame {
        border-radius: 4px;
        border: 1px solid #f0f0f0;
        margin: 10px 0 30px 0;
    }

    .upload-link {
        width: 100%;
        border-bottom: 1px solid #ddd !important;

        table {
            margin: 0;
        }
    }

    .upload-link {
        width: 100%;
    }

    .content-summary {
        width: 100%;
        border-bottom: 1px solid #ddd !important;
    }

    .editor {
        width: 100%;
        margin: 10px 0 30px 0;

        textarea {
            resize: both;
            width: 100%;
            height: 50%;
            max-width: 100%;
            max-height: 100%;
        }

        .editorButtons {
            margin-top: 5px;
        }
    }

    .eventMessage {
        width: 100%;
        margin: 10px 0 30px 0;

        textarea {
            resize: both;
            width: 100%;
            height: 20%;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .updateTable {
        width: 100%;
    }

    .formTable {
        margin: 10px 0 30px 0;
        border-color: black;
    }

    .formTable td {

    }

    .formTable .column1 {
        text-align: left;
        font-family: robotoBoldFont;
        padding: 10px;
    }

    .formTable .column2 * {
        width: 100%;

    }

    .entityTable {
        width: 100%;
        align: left;
        border: 1px solid #f0f0f0;
    }

    .button {
        margin: 10px 3px;
    }

    a {
        color: #666666;
        text-decoration: underline;
    }

    table {
        border-collapse: collapse;
        position: relative;

        tr {
            height: 35px;
        }

    }


    th, td {
        &:first-child {
            padding: 0 0 0 10px;
        }
    }

    td {
        font-size: 12px;
        padding: 3px 7px 2px 7px;
    }

    th {
        font-weight: bold;
        font-size: 12px;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 4px;
        background-color: #f0f0f0;
        border-collapse: collapse;
        color: #666666;
        cursor: pointer;
    }

    .even {
        color: #666666;
        background-color: #fff;

        &:hover {
            background-color: #E8E8E8;
        }
    }

    .odd {
        color: #666666;
        background-color: #fbfbfb;

        &:hover {
            background-color: #E8E8E8;
        }
    }
}

.decorated{

    span{
        font-size: 18px;
        position: relative;
        display: block;
    
     
    }
}

.delete {
    cursor: pointer;

  &:before {
    font-family: FontAwesome;
    content: "\f014";
  }

  &:hover {

    &:before {
      font-family: FontAwesome;
      content: "\f1f8";
    }
  }
}

.question {
    cursor: pointer;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    
    &:first-child {
        border-top: none;
    }
}  


fieldset {
    border: 1px solid #ddd;
}

textarea {
    border: 1px solid #ddd;
}

select {
    background: #f5f5f5;
    border: 1px solid #999;
    height: 32px;
    
    &:after {
        
    }
}

.content-top {

    .title {

    }

    .menu {
        border-bottom: 1px solid #ddd !important;
        display: block;
        padding: 0 0 10px 0;
        min-width: 100%;
    }
}

.pure-button {
    margin-top: 3px;
}
