@font-face {
  font-family: robotoThinFont;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../font/Roboto-Thin.ttf"); }
@font-face {
  font-family: robotoMediumFont;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../font/Roboto-Medium.ttf"); }
@font-face {
  font-family: robotoRegularFont;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../font/Roboto-Regular.ttf"); }
@font-face {
  font-family: robotoBoldFont;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../font/Roboto-Bold.ttf"); }
@font-face {
  font-family: robotoItalicFont;
  src: local("Roboto ThinItalic"), local("Roboto-ThinItalic"), url("../font/Roboto-ThinItalic.ttf"); }
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 12px;
  height: 30px;
  text-align: center;
  background-color: #F0F0F0;
  border-top: 1px solid #8b8f86; }
  footer .push {
    height: 4em; }
  footer .languages {
    position: absolute;
    text-align: center;
    padding-left: 20px;
    padding-top: 10px; }
  footer .info {
    text-align: right;
    padding-right: 20px;
    padding-top: 10px; }
    footer .info a {
      text-decoration: underline;
      font-size: 11px;
      color: #666666; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.button-success {
  background: #1cb841;
  /* this is a green */ }

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0 3px;
  padding: 9px 11px;
  vertical-align: bottom; }
  .button-success i,
  .button-error i,
  .button-warning i,
  .button-secondary i {
    font-size: 15px;
    margin-right: 5px; }

.button-success {
  background: #1cb841;
  /* this is a green */ }

.button-error {
  background: #ca3c3c;
  /* this is a maroon */ }

.button-warning {
  background: #df7514;
  /* this is an orange */ }

.button-secondary {
  background: #42b8dd;
  /* this is a light blue */ }

.pure-button:hover {
  text-decoration: none !important; }

@media screen and (max-width: 1000px) {
  .container {
    width: 100%; }
    .container section {
      width: 100%; }

  .main-header {
    border-bottom: 0px solid #f0f0f0; }

  aside {
    visibility: hidden;
    clear: both;
    float: left;
    display: none; } }
@media screen and (max-width: 760px) {
  .main-header .meta .search {
    visibility: hidden;
    clear: both;
    float: left;
    display: none; } }
@media screen and (max-width: 550px) {
  .main-header {
    min-height: 65px;
    border-bottom: none;
    padding-bottom: 12px; }
    .main-header .logo {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      .main-header .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto; }
    .main-header .meta {
      width: 100%;
      float: left; }
      .main-header .meta .links {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center; }

  .header-nav {
    visibility: hidden;
    clear: both;
    float: left;
    display: none; } }
@font-face {
  font-family: robotoThinFont;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../font/Roboto-Thin.ttf"); }
@font-face {
  font-family: robotoMediumFont;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../font/Roboto-Medium.ttf"); }
@font-face {
  font-family: robotoRegularFont;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../font/Roboto-Regular.ttf"); }
@font-face {
  font-family: robotoBoldFont;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../font/Roboto-Bold.ttf"); }
@font-face {
  font-family: robotoItalicFont;
  src: local("Roboto ThinItalic"), local("Roboto-ThinItalic"), url("../font/Roboto-ThinItalic.ttf"); }
body {
  margin: 0px;
  font-family: robotoRegularFont;
  color: #666666; }
  body h1 {
    color: #4b4b4b; }

.main-header {
  width: 100%;
  min-height: 41px;
  background: #3E444D;
  color: #fff;
  border: 0px solid #000;
  top: 0px;
  font-size: 13px;
  position: fixed;
  z-index: 1; }
  .main-header a {
    color: #fff; }
  .main-header .logo {
    float: left;
    margin-top: 5px;
    margin-left: 5%;
    font-size: 30px; }
    .main-header .logo a:hover {
      text-decoration: none; }
  .main-header #header-logo {
    height: 27px; }
  .main-header .meta {
    float: right;
    margin-top: 10px;
    margin-right: 5%; }
    .main-header .meta .search {
      float: left; }
      .main-header .meta .search form {
        float: left; }
      .main-header .meta .search input[type=text] {
        width: 200px;
        padding: 5px;
        outline: none;
        border: 2px solid #9EA1A6;
        background-color: #9EA1A6;
        font-size: 12px;
        border-radius: 5px;
        float: left;
        position: relative;
        top: -4px;
        color: #fff; }
        .main-header .meta .search input[type=text]::-webkit-input-placeholder {
          color: #fff; }
    .main-header .meta .links {
      float: right; }
      .main-header .meta .links a {
        text-decoration: none; }
        .main-header .meta .links a i {
          margin: 0 10px; }
      .main-header .meta .links .fa-2x {
        font-size: 1.6em; }
      .main-header .meta .links i:hover {
        color: #ddd; }

.information {
  padding: 0px; }
  .information .fa-1x {
    font-size: 1.5em; }
  .information:hover {
    cursor: default; }

.tooltip {
  display: none;
  position: absolute;
  border: 1px solid #333;
  background-color: #161616;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 10px; }

.container {
  width: 85%;
  height: 75%;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 50px;
  absolute: relative; }

.header-nav {
  font-size: 13px;
  text-decoration: none;
  color: #343434;
  position: fixed;
  width: 100%;
  background-color: #f0f0f0;
  height: 35px;
  z-index: 1; }
  .header-nav .content {
    width: 85%;
    margin: 0 auto; }
  .header-nav ul {
    position: absolute;
    margin: 0;
    margin-top: 2px;
    padding: 0; }
    .header-nav ul li {
      list-style-type: none;
      display: inline; }
    .header-nav ul a {
      padding: 9px 20px 10px 20px;
      color: #343434;
      text-decoration: none;
      font-size: 12px; }
      .header-nav ul a:hover {
        color: #343434;
        background: rgba(255, 255, 255, 0.7); }
    .header-nav ul .fa-home {
      position: relative;
      top: 3px; }

aside {
  position: relative;
  width: 14%;
  float: left;
  font-size: 14px; }
  aside .content .content-title {
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold; }
  aside .content .content-divider {
    width: 150px;
    border-bottom: 1px solid #ddd !important; }
  aside .content .content-item {
    margin-left: 15px;
    margin-top: 5px; }
    aside .content .content-item a {
      color: #666666; }

section {
  width: 100%;
  position: relative;
  font-size: 12px;
  min-height: 100%;
  margin-bottom: 50px;
  float: right; }
  section .upload-information {
    width: 100%;
    border-bottom: 1px solid #ddd !important;
    padding-down: 10px; }
    section .upload-information p {
      display: inline-block;
      width: 90%; }
    section .upload-information i {
      display: inline-block;
      width: 50px; }
  section .table-frame {
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    margin: 10px 0 30px 0; }
  section .upload-link {
    width: 100%;
    border-bottom: 1px solid #ddd !important; }
    section .upload-link table {
      margin: 0; }
  section .upload-link {
    width: 100%; }
  section .content-summary {
    width: 100%;
    border-bottom: 1px solid #ddd !important; }
  section .editor {
    width: 100%;
    margin: 10px 0 30px 0; }
    section .editor textarea {
      resize: both;
      width: 100%;
      height: 50%;
      max-width: 100%;
      max-height: 100%; }
    section .editor .editorButtons {
      margin-top: 5px; }
  section .eventMessage {
    width: 100%;
    margin: 10px 0 30px 0; }
    section .eventMessage textarea {
      resize: both;
      width: 100%;
      height: 20%;
      max-width: 100%;
      max-height: 100%; }
  section .updateTable {
    width: 100%; }
  section .formTable {
    margin: 10px 0 30px 0;
    border-color: black; }
  section .formTable .column1 {
    text-align: left;
    font-family: robotoBoldFont;
    padding: 10px; }
  section .formTable .column2 * {
    width: 100%; }
  section .entityTable {
    width: 100%;
    align: left;
    border: 1px solid #f0f0f0; }
  section .button {
    margin: 10px 3px; }
  section a {
    color: #666666;
    text-decoration: underline; }
  section table {
    border-collapse: collapse;
    position: relative; }
    section table tr {
      height: 35px; }
  section th:first-child, section td:first-child {
    padding: 0 0 0 10px; }
  section td {
    font-size: 12px;
    padding: 3px 7px 2px 7px; }
  section th {
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #f0f0f0;
    border-collapse: collapse;
    color: #666666;
    cursor: pointer; }
  section .even {
    color: #666666;
    background-color: #fff; }
    section .even:hover {
      background-color: #E8E8E8; }
  section .odd {
    color: #666666;
    background-color: #fbfbfb; }
    section .odd:hover {
      background-color: #E8E8E8; }

.decorated span {
  font-size: 18px;
  position: relative;
  display: block; }

.delete {
  cursor: pointer; }
  .delete:before {
    font-family: FontAwesome;
    content: "\f014"; }
  .delete:hover:before {
    font-family: FontAwesome;
    content: "\f1f8"; }

.question {
  cursor: pointer;
  border-top: 1px solid #ddd;
  padding-top: 10px; }
  .question:first-child {
    border-top: none; }

fieldset {
  border: 1px solid #ddd; }

textarea {
  border: 1px solid #ddd; }

select {
  background: #f5f5f5;
  border: 1px solid #999;
  height: 32px; }

.content-top .menu {
  border-bottom: 1px solid #ddd !important;
  display: block;
  padding: 0 0 10px 0;
  min-width: 100%; }

.pure-button {
  margin-top: 3px; }
