@font-face {
  font-family: robotoThinFont;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../font/roboto/Roboto-Thin.ttf"); }
@font-face {
  font-family: robotoMediumFont;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../font/roboto/Roboto-Medium.ttf"); }
@font-face {
  font-family: robotoRegularFont;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../font/roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: robotoBoldFont;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../font/roboto/Roboto-Bold.ttf"); }
@font-face {
  font-family: robotoItalicFont;
  src: local("Roboto ThinItalic"), local("Roboto-ThinItalic"), url("../font/roboto/Roboto-ThinItalic.ttf"); }
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 12px;
  height: 30px;
  text-align: center;
  background-color: #f5f5f5; }
  footer .push {
    height: 4em; }
  footer .languages {
    position: absolute;
    text-align: center;
    padding-left: 20px;
    padding-top: 10px; }
  footer .page-created {
    text-align: right;
    padding-right: 30px;
    padding-top: 8px;
    font-size: 11px;
    color: #666666; }
  footer .rest-api {
    text-align: right;
    padding-right: 30px;
    padding-top: 8px;
    font-size: 11px; }
    footer .rest-api a {
      text-decoration: underline;
      font-size: 11px;
      color: #666666; }
  footer .info {
    text-align: right;
    padding-right: 20px;
    padding-top: 8px; }
    footer .info a {
      text-decoration: underline;
      font-size: 11px;
      color: #666666; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn-success {
  background: #1cb841;
  /* this is a green */ }

.btn-success,
.btn-info,
.btn-warning,
.btn-primary,
.btn-danger {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0 3px;
  padding: 9px 11px;
  vertical-align: bottom; }
  .btn-success i,
  .btn-info i,
  .btn-warning i,
  .btn-primary i,
  .btn-danger i {
    margin-right: 5px; }

.btn-success {
  background: #1cb841;
  /* this is a green */ }

.btn-danger {
  background: #ca3c3c;
  /* this is a maroon */ }

.btn-warning {
  background: #df7514;
  /* this is an orange */ }

.btn-primary {
  background: #42b8dd;
  /* this is a light blue */ }

.btn {
  font-size: 12px;
  font-weight: normal;
  text-decoration: none !important;
  border: 0px;
  margin-top: 5px; }

.btn:hover {
  text-decoration: none !important; }

@media screen and (max-width: 850px) {
  .container {
    width: 100%; }
    .container section {
      width: 100%; }

  .header-nav {
    visibility: hidden;
    clear: both;
    float: left;
    display: none; }

  .main-header .meta .search {
    visibility: hidden;
    clear: both;
    float: left;
    display: none; }
  .main-header .links {
    float: left; }
    .main-header .links .title {
      visibility: visible;
      display: initial; } }
@media screen and (max-width: 570px) {
  footer .page-created {
    visibility: hidden;
    clear: both;
    float: left;
    display: none; } }
@font-face {
  font-family: robotoThinFont;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../font/roboto/Roboto-Thin.ttf"); }
@font-face {
  font-family: robotoMediumFont;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../font/roboto/Roboto-Medium.ttf"); }
@font-face {
  font-family: robotoRegularFont;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../font/roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: robotoBoldFont;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../font/roboto/Roboto-Bold.ttf"); }
@font-face {
  font-family: robotoItalicFont;
  src: local("Roboto ThinItalic"), local("Roboto-ThinItalic"), url("../font/roboto/Roboto-ThinItalic.ttf"); }
.main-header {
  width: 100%;
  background: #1696cc;
  color: #fff;
  border: 0px solid #1696cc;
  top: 0px;
  font-size: 13px;
  z-index: 1;
  height: 60px; }
  .main-header .navbar-toggle {
    border: none;
    background: transparent !important;
    margin-top: 11px; }
    .main-header .navbar-toggle:hover {
      background: transparent !important; }
    .main-header .navbar-toggle .icon-bar {
      width: 22px;
      transition: all 0.2s;
      background-color: #fff; }
    .main-header .navbar-toggle .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%; }
    .main-header .navbar-toggle .middle-bar {
      opacity: 0; }
    .main-header .navbar-toggle .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%; }
  .main-header .navbar-toggle.collapsed .top-bar {
    transform: rotate(0); }
  .main-header .navbar-toggle.collapsed .middle-bar {
    opacity: 1; }
  .main-header .navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0); }
  .main-header .navbar-default {
    background-color: inherit;
    border-color: inherit;
    color: inherit;
    margin-bottom: 0px; }
    .main-header .navbar-default .navbar-form {
      color: #000; }
    .main-header .navbar-default .container-fluid .navbar-collapse {
      border: 0px solid #3E444D; }
    .main-header .navbar-default .container-fluid .navbar-header {
      color: inherit; }
      .main-header .navbar-default .container-fluid .navbar-header .navbar-brand img {
        display: initial; }
      .main-header .navbar-default .container-fluid .navbar-header a {
        color: #fff; }
    .main-header .navbar-default .container-fluid .navbar-nav li a {
      color: #fff; }
  .main-header .logo {
    float: left;
    margin-top: 2px;
    font-size: 30px; }
    .main-header .logo a {
      color: #fff; }
      .main-header .logo a:hover {
        text-decoration: none; }
  .main-header #header-logo {
    height: 30px;
    margin-top: -10px; }
  .main-header .links {
    float: right; }
    .main-header .links a {
      text-decoration: none;
      color: #fff; }
      .main-header .links a i {
        margin: 0 0px;
        padding-top: 0px;
        padding-bottom: 0px; }
    .main-header .links .fa-2x {
      font-size: 28px; }
    .main-header .links i:hover {
      color: #ddd; }
    .main-header .links .title {
      visibility: hidden;
      display: none; }
  .main-header .avatar-username {
    float: left; }
  .main-header .avatar-circle {
    width: 40px;
    height: 40px;
    background-color: #1b76b9;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-top: 9px;
    margin-right: 10px; }
    .main-header .avatar-circle .fa-2x {
      font-size: 24px;
      position: relative;
      top: 10px;
      line-height: 20px;
      color: #fff; }
      .main-header .avatar-circle .fa-2x:hover {
        cursor: pointer; }
  .main-header .search {
    border-radius: 55px 50px;
    color: #FFFFFF;
    background: #3ca8d6 !important;
    border-color: #3ca8d6 !important;
    width: 80%;
    height: 35px; }
  .main-header .stylish-input-group {
    width: 30%;
    top: 10px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0; }
    .main-header .stylish-input-group ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 1;
      /* Firefox */ }
    .main-header .stylish-input-group ::-webkit-input-placeholder {
      text-align: center; }
    .main-header .stylish-input-group :-moz-placeholder {
      /* Firefox 18- */
      text-align: center; }
    .main-header .stylish-input-group ::-moz-placeholder {
      /* Firefox 19+ */
      text-align: center; }
    .main-header .stylish-input-group :-ms-input-placeholder {
      text-align: center;
      color: white; }
  .main-header .input-group-addon {
    background: #3ca8d6 !important;
    border-color: #3ca8d6 !important;
    color: #FFFFFF;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 20%;
    height: 35px; }
  .main-header .stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc; }
  .main-header .stylish-input-group button {
    border: 0;
    background: transparent; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn-success {
  background: #1cb841;
  /* this is a green */ }

.btn-success,
.btn-info,
.btn-warning,
.btn-primary,
.btn-danger {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0 3px;
  padding: 9px 11px;
  vertical-align: bottom; }
  .btn-success i,
  .btn-info i,
  .btn-warning i,
  .btn-primary i,
  .btn-danger i {
    margin-right: 5px; }

.btn-success {
  background: #1cb841;
  /* this is a green */ }

.btn-danger {
  background: #ca3c3c;
  /* this is a maroon */ }

.btn-warning {
  background: #df7514;
  /* this is an orange */ }

.btn-primary {
  background: #42b8dd;
  /* this is a light blue */ }

.btn {
  font-size: 12px;
  font-weight: normal;
  text-decoration: none !important;
  border: 0px;
  margin-top: 5px; }

.btn:hover {
  text-decoration: none !important; }

@media screen and (max-width: 850px) {
  .container {
    width: 100%; }
    .container section {
      width: 100%; }

  .header-nav {
    visibility: hidden;
    clear: both;
    float: left;
    display: none; }

  .main-header .meta .search {
    visibility: hidden;
    clear: both;
    float: left;
    display: none; }
  .main-header .links {
    float: left; }
    .main-header .links .title {
      visibility: visible;
      display: initial; } }
@media screen and (max-width: 570px) {
  footer .page-created {
    visibility: hidden;
    clear: both;
    float: left;
    display: none; } }
@font-face {
  font-family: robotoThinFont;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../font/roboto/Roboto-Thin.ttf"); }
@font-face {
  font-family: robotoMediumFont;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../font/roboto/Roboto-Medium.ttf"); }
@font-face {
  font-family: robotoRegularFont;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../font/roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: robotoBoldFont;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../font/roboto/Roboto-Bold.ttf"); }
@font-face {
  font-family: robotoItalicFont;
  src: local("Roboto ThinItalic"), local("Roboto-ThinItalic"), url("../font/roboto/Roboto-ThinItalic.ttf"); }
body {
  margin: 0px;
  font-family: robotoRegularFont;
  color: #666666; }
  body h1 {
    color: #4b4b4b;
    font-size: 2em; }
  body a .disabled {
    cursor: not-allowed; }

.information {
  padding: 0px; }
  .information .fa-1x {
    font-size: 1.5em; }
  .information:hover {
    cursor: default; }

.tooltip {
  display: none;
  position: absolute;
  border: 1px solid #333;
  background-color: #161616;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 10px; }

.breadcrumb {
  border-radius: 0px; }

.container {
  width: 85%;
  height: 75%;
  margin: 0 auto;
  padding-left: 150px;
  absolute: relative; }

.navigation {
  width: 100%;
  left: 150px;
  right: 0px;
  height: 60px;
  padding-left: 150px;
  overflow-x: hidden; }
  .navigation a {
    color: #666666; }

.header-nav {
  font-size: 13px;
  text-decoration: none;
  color: #343434;
  position: fixed;
  width: 100%;
  background-color: #f0f0f0;
  height: 35px;
  z-index: 1; }
  .header-nav .content {
    width: 85%;
    margin: 0 auto; }
  .header-nav ul {
    position: absolute;
    margin: 0;
    margin-top: 2px;
    padding: 0; }
    .header-nav ul li {
      list-style-type: none;
      display: inline; }
    .header-nav ul a {
      padding: 9px 20px 10px 20px;
      color: #343434;
      text-decoration: none;
      font-size: 12px; }
      .header-nav ul a:hover {
        color: #343434;
        background: rgba(255, 255, 255, 0.7); }
    .header-nav ul .fa-home {
      position: relative;
      top: 3px; }

section {
  width: 100%;
  position: relative;
  font-size: 12px;
  min-height: 100%;
  margin-bottom: 50px;
  float: right; }
  section .upload-information {
    width: 100%;
    border-bottom: 1px solid #ddd !important;
    padding-down: 10px; }
    section .upload-information p {
      display: inline-block;
      width: 90%; }
    section .upload-information i {
      display: inline-block;
      width: 50px; }
  section .upload-link {
    width: 100%;
    border-bottom: 1px solid #ddd !important; }
    section .upload-link table {
      margin: 0; }
  section .upload-link {
    width: 100%; }
  section .content-summary {
    width: 100%;
    border-bottom: 1px solid #ddd !important; }
  section .editor {
    width: 100%;
    margin: 10px 0 30px 0; }
    section .editor textarea {
      resize: both;
      width: 100%;
      height: 50%;
      max-width: 100%;
      max-height: 100%; }
    section .editor .editorButtons {
      margin-top: 5px; }
  section .eventMessage {
    width: 100%;
    margin: 10px 0 30px 0; }
    section .eventMessage textarea {
      resize: both;
      width: 100%;
      height: 20%;
      max-width: 100%;
      max-height: 100%; }
  section .updateTable {
    width: 100%; }
  section .formTable {
    margin: 10px 0 30px 0;
    border-color: black; }
  section .formTable .column1 {
    text-align: left;
    font-family: robotoBoldFont;
    padding: 10px; }
  section .formTable .column2 * {
    width: 100%;
    font-weight: normal; }
    section .formTable .column2 * input[type=checkbox] {
      margin-top: 0px;
      position: relative;
      width: 15px;
      margin-left: 0px; }
  section .button {
    margin: 10px 3px; }
  section a {
    color: #666666;
    text-decoration: underline; }
  section table {
    align: left;
    border-collapse: collapse;
    position: relative; }
    section table tr {
      height: 35px; }
  section .table {
    border: 1px solid #f0f0f0; }
  section th:first-child, section td:first-child {
    padding: 0 0 0 10px; }
  section td {
    font-size: 12px;
    padding: 3px 7px 2px 7px;
    font-weight: normal;
    border-top: none; }
  section th {
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #f0f0f0;
    border-collapse: collapse;
    color: #666666;
    cursor: pointer; }

.decorated span {
  font-size: 18px;
  position: relative;
  display: block; }

.delete {
  cursor: pointer; }
  .delete:before {
    font-family: FontAwesome;
    content: "\f014"; }
  .delete:hover:before {
    font-family: FontAwesome;
    content: "\f1f8"; }

.question {
  cursor: pointer;
  border-top: 1px solid #ddd;
  padding-top: 10px; }
  .question:first-child {
    border-top: none; }

textarea {
  border: 1px solid #ddd; }

select {
  background: #f5f5f5;
  border: 1px solid #999;
  height: 32px; }

.content-top .menu {
  border-bottom: 1px solid #ddd !important;
  display: block;
  padding: 0 0 10px 0;
  min-width: 100%; }

.pure-button {
  margin-top: 3px; }

.sideMenu {
  position: absolute;
  overflow-x: hidden;
  background: #f5f5f5;
  height: 100%;
  width: 150px;
  left: 0;
  top: 60px; }
  .sideMenu .sideMenuItem {
    height: 80px;
    width: 150px; }
    .sideMenu .sideMenuItem .sideMenuItemContent {
      align-content: center;
      margin: auto;
      width: 70%;
      height: 80px;
      padding-top: 5px; }
      .sideMenu .sideMenuItem .sideMenuItemContent:hover {
        background-color: #ffffff; }
      .sideMenu .sideMenuItem .sideMenuItemContent .sideMenuItemContentIcon {
        font-size: 20px;
        text-align: center; }
      .sideMenu .sideMenuItem .sideMenuItemContent .sideMenuItemContentTitle {
        margin-top: 5px;
        font-size: 15px;
        text-align: center; }
    .sideMenu .sideMenuItem .sideMenuItemContentSelected {
      border-bottom: none; }
    .sideMenu .sideMenuItem:hover {
      cursor: pointer;
      background-color: #ffffff; }
  .sideMenu a {
    color: #8d8d8d; }
    .sideMenu a:hover {
      text-decoration: none; }
  .sideMenu .sideMenuItemFirst {
    margin-top: 36px; }
  .sideMenu .sideMenuItemSelected {
    background-color: #ffffff;
    border-left: 4px solid #b81d22; }
