// - - - - - - - - IMPORT - - - - - - - - - //

@import "footer";
@import "header";
@import "links";
@import "responsive";
@import "fonts";
@import "mixins";

// - - - - - - - - - - - - - - - - - - - - -//


html {
    min-height:100%;
    min-width: 100%;
    position:relative;
    top: 0;
    bottom: 0;
}

body {
    margin: 0px;
    font-family: robotoRegularFont;
    color: #666666;
    min-height:100%;
    min-width: 100%;
    top: 0;
    bottom: 0;

    h1 {
        color: #4b4b4b;
        font-size: 2em;
    }

    a {
        .disabled{
            cursor:not-allowed;
        }
    }
}


.information {
    padding: 0px;
    .fa-1x {
        font-size: 1.5em;

    }
    &:hover {
        cursor: default;
    }
}

.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:10px;
}

.breadcrumb {
    border-radius: 0px;
}

.container {
    width: 85%;
    height: 75%;
    margin: 0 auto;
    left: 80px;
    position: relative;

    @media screen and (max-width: 850px) {
        left: 0;
    }
}

.navigation {
    position: absolute;
    top: 60px;
    left: 150px;
    right: 0px;
    height: 60px;
    overflow-x: hidden;
    z-index: 1;

    a {
        color: #666666;
    }

    @media screen and (max-width: 850px) {
        left: 0;
        z-index: 0;
    }
}

.header-nav {
    font-size: 13px;
    text-decoration: none;
    color: #343434;
    position: fixed;
    width: 100%;
    background-color: #f0f0f0;
    height: 35px;
    z-index: 1;

    .content {
        width: 85%;
        margin: 0 auto;
    }
    
    ul {
        position: absolute;
        margin: 0;
        margin-top: 2px;
        padding: 0;
        
        li {
            list-style-type: none;
            display: inline;
        }
        
        a {
            padding: 9px 20px 10px 20px;
            color: #343434;
            text-decoration: none;
            font-size: 12px;
            
            &:hover {   
                color: #343434;
                background: rgba(255,255,255,.7);
            }
        }
        
        .fa-home {
            position: relative;
            top: 3px;
        }
    }
}

section{
    width: 100%;
    margin-top: 100px;
    position: relative;
    font-size: 12px;
    min-height:100%;
    margin-bottom: 50px;
    float: right;

    .upload-information {
        width: 100%;
        border-bottom: 1px solid #ddd !important;
        padding-down: 10px;

        p {
            display: inline-block;
            width: 90%;
        }

        i {
            display: inline-block;
            width: 50px;
        }
    }

    .upload-link {
        width: 100%;
        border-bottom: 1px solid #ddd !important;

        table {
            margin: 0;
        }
    }

    .upload-link {
        width: 100%;
    }

    .content-summary {
        width: 100%;
        border-bottom: 1px solid #ddd !important;
    }

    .editor {
        width: 100%;
        margin: 10px 0 30px 0;

        textarea {
            resize: both;
            width: 100%;
            height: 50%;
            max-width: 100%;
            max-height: 100%;
        }

        .editorButtons {
            margin-top: 5px;
        }
    }

    .eventMessage {
        width: 100%;
        margin: 10px 0 30px 0;

        textarea {
            resize: both;
            width: 100%;
            height: 20%;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .updateTable {
        width: 100%;
    }

    .formTable {
        margin: 10px 0 30px 0;
        border-color: black;
    }

    .formTable td {

    }

    .formTable .column1 {
        text-align: left;
        font-family: robotoBoldFont;
        padding: 10px;
    }

    .formTable .column2 * {
        width: 100%;
        font-weight: normal;

        input[type=checkbox] {
            margin-top: 0px;
            position: relative;
            width: 15px;
            margin-left: 0px;
        }
    }

    .button {
        margin: 10px 3px;
    }

    a {
        color: #666666;
        text-decoration: underline;
    }

    table {
        align: left;
        border-collapse: collapse;
        position: relative;

        tr {
            height: 35px;
        }

    }

    .table {
        border: 1px solid #f0f0f0;
    }


    th, td {
        &:first-child {
            padding: 0 0 0 10px;
        }
    }

    td {
        font-size: 12px;
        padding: 3px 7px 2px 7px;
        font-weight: normal;
        border-top: none;
    }

    th {
        font-weight: bold;
        font-size: 12px;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 4px;
        background-color: #f5f5f5;
        border-collapse: collapse;
        color: #666666;
        cursor: pointer;
    }
}

.decorated{

    span{
        font-size: 18px;
        position: relative;
        display: block;
    
     
    }
}

.delete {
    cursor: pointer;

  &:before {
    font-family: FontAwesome;
    content: "\f014";
  }

  &:hover {

    &:before {
      font-family: FontAwesome;
      content: "\f1f8";
    }
  }
}

.question {
    cursor: pointer;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    
    &:first-child {
        border-top: none;
    }
}  


textarea {
    border: 1px solid #ddd;
}

select {
    background: #f5f5f5;
    border: 1px solid #999;
    height: 32px;
    
    &:after {
        
    }
}

.content-top {

    .title {

    }

    .menu {
        border-bottom: 1px solid #ddd !important;
        display: block;
        padding: 0 0 10px 0;
        min-width: 100%;
    }
}

.pure-button {
    margin-top: 3px;
}

.sideMenu {
    position: absolute;
    background: #f5f5f5;
    width: 150px;
    left: 0;
    min-height: 100% !important;
    top: 0;
    bottom: 0;

    .sideMenuContent {
        position: absolute;
        top: 60px;
        z-index: 1;

        .sideMenuItem {
            height: 80px;
            width: 150px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;

            .sideMenuItemContent {
                align-content: center;
                margin: auto;
                width: 70%;
                height: 80px;
                padding-top: 5px;

                &:hover {
                    background-color: #ffffff;
                }

                .sideMenuItemContentIcon {
                    font-size: 20px;
                    text-align: center;
                }
                .sideMenuItemContentTitle {
                    margin-top: 5px;
                    font-size: 15px;
                    text-align: center;
                }
            }

            .sideMenuItemContentSelected {
                border-bottom: none;
            }

            &:hover {
                cursor: pointer;
                background-color: #ffffff;
            }
        }


        .sideMenuItemFirst {
            margin-top: 36px;
        }

        .sideMenuItemSelected {
            background-color: #ffffff;
            border-left: 4px solid #b81d22;
            color: #3ca8d6;
        }


        a {
            color: #8d8d8d;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.table-panel {
    border-color: #3ca8d6 !important;
}

.table-panel-heading {
    border-color: #3ca8d6 !important;
    background-color: #3ca8d6 !important;
}

.panel-buttons {
    margin-left: 10px;
}