@media screen and (max-width: 767px) {
    .container {
        width: 100%;

        section {
            width: 100%;
        }
    }

    .header-nav {
        visibility: hidden;
        clear: both;
        float: left;
        display: none;
    }

    .main-header {

        .meta {

            .search {
                visibility: hidden;
                clear: both;
                float: left;
                display: none;
            }
        }

        .links {
            .title {
                visibility: visible;
                display: initial;
            }
        }
    }
}
