@media screen and (max-width: 1000px) {
    .container {
        width: 100%;

        section {
            width: 100%;
        }
    }

    .main-header {
        border-bottom: 0px solid #f0f0f0;
    }

    aside {
        visibility: hidden;
        clear: both;
        float: left;
        display: none;
    }


}

@media screen and (max-width: 760px) {

    .main-header {

        .meta {

            .search {
                visibility: hidden;
                clear: both;
                float: left;
                display: none;
            }
        }
    }
}
@media screen and (max-width: 550px) {

    .main-header {
        min-height: 65px;
        border-bottom: none;
        padding-bottom: 12px;

        .logo {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .meta {
            width: 100%;
            float: left;

            .links {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }

        }
    }

    .header-nav {
        visibility: hidden;
        clear: both;
        float: left;
        display: none;
    }
} 